:root {
    --fond: #FFF5E0;
    --vertVar: #AECC54;
    --jauneVar: #F6C345;
    --bleuClair: #7CAAE3;
    --bleuFonce: #38679F;

    --bigPadding : 10px 40px;
    --smallPadding : 5px 10px;
}

@font-face {
    font-family: 'DIN'; /*a name to be used later*/
    font-weight: bold;
    src: url('DIN Condensed.ttf'); /*URL to font*/
}

* {
    margin : 0px
}

body{
    background-color: var(--fond);
    font-family: 'DIN';
}

p{
    font-family: 'DIN';
}

.btnLang {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--vertVar);
    font-size: 16px;
}

.btnSqr {
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.btnSqrColor_blue {
    padding: var(--bigPadding);
    background-color: var(--bleuFonce);
    color: white;
}

.btnSqrColor_light-blue {
    padding: var(--bigPadding);
    background-color: var(--bleuClair);
}

.btnSqrColor_green {
    padding: var(--bigPadding);
    background-color: var(--vertVar);
}

.nbShadow {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 4px 4px black;
    color: black;
    transition: 0.25s;
}

.nbShadow:hover {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px black;
    transition: 0.25s;
}

#textBlock{
    background-color: var(--jauneVar);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-container{
    position:relative;
    display: inline-block;
}

.overlay-text1{
    z-index: 3;
    position:absolute;
    top: 15%;
    left: 5%;
    font-size:10px;
}

.overlay-text2{
    z-index: 3;
    position:absolute;
    top: 15%;
    left: 75%;
    color:white;
    text-align: right;
    font-size: 10px;
}

#waveCyanDown {
    z-index: 2;
    position: relative;
    width:100%;
    height: auto;
}

#waveBlueDown {
    z-index: 1;
    float: right;
    right: 0px;
    width:100%;
    height: auto;
    position:absolute;
}