#section1 a{
    z-index: 100;
    text-decoration: none;
}

#meteo {
    position: absolute;
    background-color: var(--jauneVar);
    width: 180px;
    border-radius: 5px;
    padding: 10px;
    left: 15px;
    top: 10em;
    text-align: center;
    justify-items: center;
}

    #iconMeteo{
        text-align: left;
        font-size: 30px;
    }

    #t {
        display: flex;
        gap: 10px;
    }

#headerContent img {
    position: absolute;
    width: 180px;
    top: 15px;
    left: 20px;
}

#headerContent button {
    display: flex;
    align-items: center;
    z-index: 5;
    position: absolute;
    top: 30px;
    left: 300px;
    padding-inline: 10px;
}

#vague-verte{
    position: relative;
    top: -5px;
    width: 90%;
}

.btnLang {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--vertVar);
    justify-content: center;
    color : black;
    font-family: DIN;
    font-size: 20px;

    appearance: none;
    -webkit-appearance: none;
    clip-path: circle(50% at 50% 50%);
}

#section1 {
    position: relative;
    top: -2em;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    padding-bottom: 6em;
    overflow: hidden;
}

#section1 a {
    position: relative;
    right: -10px;
    width: 150px;
    padding-inline: 10px;
    justify-content: left;
    color: white;
}

#mascotte{
    width: 150px;
    position: absolute;
    z-index: -10;
    top:340px;
    left: 10em;
}

#bulle{
    width: 50px;
    position: absolute;
    left: 130px;
    top: 22em;
}

#section2 p{
    position: absolute;
    font-family: ProtestRiot;
    left: 20px;
    top: 17em;
}

#textBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 30px;
    gap: 10px;
}

#textBlock img{
    width: 220px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    width: 100%;
    position: relative;
    bottom: 20px;
}
