#headerContent img {
    position: absolute;
    width: 250px;
    top: 30px;
    left: 30px;
}

.btnLang {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--vertVar);
    font-size: 16px;
}

#section1 img{
    width: 150px;
    position: absolute;
    z-index: -10;
    top:220px;
    left: 250px;
}

#textBlock{
    background-color: var(--jauneVar);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 30px;
    gap: 10px;
    border-top: 3px solid black;
}

#textBlock img{
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    position: relative;
    bottom: 20px;
}