/* Library */
#headerContent>#nom-espece-animale {
    display: flex;
    align-items: center;
    max-width: 150px;
    height: 140px;
    position: absolute;
    right: 100px;
    text-align: right;
    color: white;
    z-index: 600;
}

#headerContent h1 {
    top: 50px;
}

#section-especes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-top: 10em;
    margin-bottom: 50px;
}

#titre-famille>h2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 30px;
    top: 75px;
    text-align: center;
    color: white;
    z-index: 600;
}

.libraryBtnSpecie {
    position: relative;
    background-size: cover;
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;    
    color: white;
    display: flex;
    justify-content: center ;
    text-align: center;
}

    .nom-espece-animale, .famille-animal h3 {
        position: absolute;
        bottom: 0;
        z-index: 5;
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 5px;
        letter-spacing: 1px;
        padding-inline: 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }


#bibliotheque-famille{
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-block: 3em;
    margin-inline: 15px;  
}

.famille-animal {
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}
    #images-famille {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #images-famille img{
        object-fit: cover;
        flex: 1;
        width: 0;
    }

#image-espece-animale {
    width: 80px;
    height: 80px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 100%;
    object-fit: cover;
}

.lien-espece-animale {
    position: relative;
    text-decoration-line: none;
    color: white;
}

.image-principale-animale {
    position: absolute;
    z-index: 500;
    right: 10px;
    top: 30px;
}

#liste-rouge-couleur {
    position: absolute;
    z-index: 550;
    right: 10px;
    top: 90px;
    border-radius: 100%;
    border: 2px solid black;
    padding-inline: 6px;
}

#bloc-text {
    margin-top: 140px;
    margin-inline: 30px;
}

    #bloc-text>div {
        margin-bottom: 10px;
    }

    #bloc-text>div>h3 {
        text-decoration-line: underline;
    }

/*CAROUSEL*/
.gallery-container {
    display: flex;
    overflow: hidden;
    margin-top: 40px;
    margin-inline: auto;
    width: 95%;
    padding-block: 15px;
    box-sizing: border-box;
}

#galleryTrack {
    display: flex;
    transition: transform 0.4s ease;
}

#galleryTrack img {
    width: calc(100% - 40px);
    margin: 0 20px;
    flex-shrink: 0;

    border-radius: 5px;
    object-fit: cover;

    border: 2px solid black;
    box-shadow: 4px 4px black;

    transition: 0.25s;
}

.prev, .next {
    z-index: 50;
    border: none;
    background: var(--blanc);
    margin-block: -5px;
}

    #lightbox {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.85);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    #lightbox img {
        max-width: 90%;
        max-height: 90%;
        border-radius: 12px;
        box-shadow: 0 0 30px rgba(0,0,0,0.6);
        animation: zoomIn 0.3s ease;
        cursor: zoom-out;
    }

    @keyframes zoomIn {
        from {
            transform: scale(0.9);
            opacity: 0;
        }
        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes translate {
        0% {transform : translateY(0);}
        50% {transform : translateY(3px);}
        100% {transform : translateY(0);}
    }

#vu {
    text-align: center;
    margin-block: 10px;
}