main {
    padding-bottom: 0;
}

#titre2-preparer {
        font-size: 20px;
        z-index: 5;
        width: 100%;
        position: absolute;
        right: 30px;
        top: 40px;
        text-align: right;
        color: white;
    }

#comment-preparer {
    display: flex;
    position: relative;
    margin-inline: 10px;
    gap: 10px;
}

#mascotte-dialogue-1 {
    position: absolute;
    top: -20px;
    left: 6em;
    font-family: ProtestRiot;
    font-size: 14px;
    max-width: 210px;
}

#mascotte-equipement .img-mascotte {
    width: 80px;

}

#bulle-1 {
    position: absolute;
    top: 20px;
    left: 5em;
}

#block-deco {
    position: absolute;
    right: 20%;
    top: 5%;
    background-color: var(--vertVar);
    border: solid black 3px;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

#liste-equipements {
    display: flex;
    flex-direction: column;
    background-color: var(--jauneVar);
    border: solid black 3px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 20px;
    margin-top: 40px;
    gap: 10px;
    width: 75%;
}

.check-equipement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
    .check-equipement>i {
        font-size: 14px;
        background-color: var(--vertVar);
        border: solid black 2px;
        border-radius: 100%;
        padding-block: 3px;
        padding-inline: 4px;
    }

.equipement {
    border: solid black 3px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 220px;
}
    .equipement>p {
        font-size: 14px;
    }

.nom-equipement {
    display: flex;
    gap: 5px;
    align-items: center;
}
    .nom-equipement>h2 {
        font-size: 18px;
    }
    .icon-equipement {
        height: 20px;
    }

#eviter-preparer {
    display: flex;
    position: relative;
    margin-inline: 0;
    margin-top: 30px;
    justify-content: end;
    gap: 10px;
    overflow: hidden;
    height: 330px;
    width: 100%;
}

    #eviter-preparer .img-mascotte {
        position: absolute;
        width: 200px;
        right: -4em;
        top: 2em;
    }

#mascotte-dialogue-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: ProtestRiot;
    font-size: 14px;
    text-align: center;
    max-width: 280px;
}
#bulle-2 {
    position: absolute;
    top: 4em;
    right: 7em;
}

#boutons-preparer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 20px;
    bottom: -18em;
    max-width: 200px;
}
    #boutons-preparer a {
        display: flex;
        gap: 5px;
        text-decoration-line: none;
        color: black;
        width: 100%;
        padding: 10px;
    }