/*//////////////////////
/       Atlantis       /
/    Style ToolBox     /
/ 2026 - Expedition 33 /
//////////////////////*/

/* Variables */
:root {
    --bleuClair: #7CAAE3;
    --bleuFonce: #38679F;
    --vertVar: #AECC54;
    --jauneVar: #F6C345;
    --blanc: #FFF5E0;

    --bigPadding : 10px 40px;
    --smallPadding : 5px 10px;
}

/* Custom font */
@font-face {
    font-family: 'DIN'; /*a name to be used later*/
    font-weight: bold;
    src: url('DIN Condensed.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Inter'; /*a name to be used later*/
    src: url('Inter.ttf'); /*URL to font*/
}

/* Basic stuff */
* {
    margin : 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DIN';
    background-color: var(--blanc);
    overflow-x:hidden ;
}

main {
    padding-top: 170px;
}

p, a {
    font-family: 'DIN';
}

/* Header */
#headerBackground img {
    position: absolute;
    width: 310px;
}

#headerContent {
    position: absolute;
    z-index: 10;
    width: 100%;
}

#headerContent h1 {
    font-size: 26px;
    z-index: 5;
    width: 100%;
    position: absolute;
    right: 30px;
    top: 65px;
    text-align: right;
    color: white;
}

    #titre2-preparer {
        font-size: 20px;
        z-index: 5;
        width: 100%;
        position: absolute;
        right: 30px;
        top: 40px;
        text-align: right;
        color: white;
    }

#waveBlue {
    z-index: 1;
    top: -2px;
    left: -2px;
}

#waveGreen {
    right: 0px;
    top: -25px;
}

/* Text blocks */
.textBlock {
    padding: 70px 10px 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.textBlock p {
    font-family: 'Inter';
}

#intro {
    background-image: url(../img/general/blockIntro.png);
    height: 444px;
}

#wave {
    background-image: url(../img/general/blockWave.png);
    height: 450px;
}

/* Footer */
#footerContentA {
    position: absolute;
    padding: 10px;
    z-index: 1000;
    font-size: small;
    text-align: left;
}

#footerContentB {
    position: absolute;
    right: 0px;
    padding: 10px;
    z-index: 1000;
    font-size: small;
    text-align: right;
}

#footerContentB img{
    width: 60px;
}

#footerContentB a {
    color: white;
}

#footerContentB br {
    margin: 5px;
}

#footerBackground img {
    position: absolute;
}

#waveCyanDown {
    z-index: 500;
}

#waveBlueDown {
    right: 0px;
}

/* Square Buttons */
.btnSqr {
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color : black;
}

.btnSqrColor_light-blue {
    padding: var(--smallPadding);
    background-color: var(--bleuClair);
}

.btnSqrColor_blue {
    padding: var(--bigPadding);
    background-color: var(--bleuFonce);
}

.btnSqrColor_grn {
    padding: var(--smallPadding);
    background-color: var(--vertVar);
}

.btnSqr img {
    width: 25px;
    padding-right: 10px;
}

/* Round buttons*/
.btnCircl {
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
}

.btnCirclColor_ylw {
    background-color: var(--jauneVar);
}

.btnCirclColor_ylw img {
    width: 25px;
}

.btnCirclColor_grn {
    background-color: var(--vertVar);
}

.btnCirclColor_grn img {
    width: 40px;
}

/*Mascotte*/
.img-mascotte {
    width: 100px;
}

.img-invert {
    transform: scale(-1, 1);
}

/* Neobrutalist shadow */
.nbShadow {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 4px 4px black;
    transition: 0.25s;
}

.nbShadow:hover {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 2px 2px black;
    transition: 0.25s;
}