        .app-mobile-container {
            width: 100%;
            max-width: 430px; 
            height: 100dvh; 
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: relative;
        }

        header {
            flex-shrink: 0;
            width: 100%;
            height: 18vh; /* Espace alloué au logo en haut */
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
        }

        .logo-app {
            width: 75%;
            max-width: 280px;
            height: auto;
            object-fit: contain;
        }

        .section-cascade {
            position: relative;
            flex-grow: 1; 
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: none; 
            margin: 0;
            min-height: 0; 
        }

        .fond-cascade {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover; 
            object-position: center; 
            z-index: 1;
        }

        
        .titre-attention {
            position: absolute; /* Placement libre sur l'image */
            top: 10%;
            left: 5%;
            z-index: 5;
            font-family: DIN;
            font-size: 40px; 
            font-weight: 900;
            color: white;
            letter-spacing: 1.5px;
            text-shadow: 
                -2px -2px 0 #000,  
                 2px -2px 0 #000,
                -2px  2px 0 #000,
                 2px  2px 0 #000;
            margin: 0; 
        }

        /* Conteneur global de la zone d'interaction */
        .zone-dialogue {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            pointer-events: none;
            margin-bottom: 200px;

        }

        /* Conteneur du texte de dialogue */
        .conteneur-bulle {
            position: absolute;
            bottom: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 6;
        }

        .texte-sur-bulle {
            position: relative;
            right: 0;
            z-index: 7; 
            text-align: center;
            font-family: ProtestRiot;
            font-size: 20px;
            color: white;
            text-shadow: 
                -1.5px -1.5px 0 black,  
                 1.5px -1.5px 0 black,
                -1.5px  1.5px 0 black,
                 1.5px  1.5px 0 black;
            padding-inline: 20% 3%;
            -webkit-text-stroke: black 0.5px;
        }

        #bulle-blanche{
            position: absolute;
            bottom: -20px;
            left: 23%;
            width: 50px;
            z-index: 6; 
        }

        /* La Mascotte positionnée en bas à gauche, mordant sur le bord */
        #mascotte-telechargement {
            position: absolute;
            width: 150px;
            left: -2em;
            object-fit: contain;
            z-index: 8; 
            bottom: 3em;
        }


        .btn-jaune {
            position: absolute;
            bottom: -4%; 
            right: 5%;
            z-index: 10; 
            width: 200px; 
            height: 65px; 
            background-color: #F0B83A;
            border: solid black 3px !important;
            border-radius: 50% 50% 50% 50% / 35% 35% 65% 65%;
            box-shadow: 3px 5px 0px 0px black;
            font-family: DIN;
            font-size: 20px;
            line-height: 1.1;
            letter-spacing: 0.5px;
            pointer-events: auto;
            transition: transform 0.1s, box-shadow 0.1s;
        }

        .tn-jaune:active {
            transform: translate(2px, 3px);
            box-shadow: 1px 2px 0px 0px black;
        }

        footer {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 18vh; /* Zone généreuse en bas */
            width: 100%;
            position: relative; 
            z-index: 12;
            background-color: transparent; 
        }

        .lien-continuer {
            color: black;
            font-size: 12px;
            font-weight: 900;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            letter-spacing: 0.5px;
            margin-bottom: 2vh;
            position: relative;
            z-index: 15; 
            cursor: pointer; 
        }

        .logo-departement {
            height: 5vh; 
            width: auto;
            max-width: 130px;
            object-fit: contain;
        }